@import url(https://fonts.googleapis.com/css?family=CrimsonPro:100,200,300,400,500,600,700,800,900);

.interior__avatar {
  width: 2.5em;
  border-radius: 50%;
}

.interior {
  background-color: #181719;
}

.interior__card {
  width: 90%;
  margin-top: -30%;
  margin-left: 7%;
  background-color: #181719;
  padding: 1em 3em 0.4em 1.3em;
  position: relative;
}

.interior__card__text {
  font-family: CrimsonPro;
  font-size: 1.4em;
  line-height: 1.3vh;
  color: white;
}

.interior__footer {
  position: relative;
  text-align: center;
  padding: 3%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 17px;
  color: #a9a9a9;
}

.interior__footer hr {
  border: 1px solid #a9a9a9;
}

.interior__img {
  width: 100%;
}

.interior__name {
  font-size: 0.8em;
  font-family: Montserrat;
  line-height: 0;
}

.interior__position {
  font-size: 0.7em;
  font-family: Montserrat;
  color: #828282;
}

.interior__read-more {
  color: white;
  font-family: Montserrat;
}

.interior__section__second {
  padding-top: 7vh !important;
  margin-bottom: 1vh !important;
}

.interior__title {
  font-family: Crimson Pro;
  font-size: 2.7em;
  padding-top: 10% !important;
  margin: 0 !important;
  color: white;
}

.interior__text {
  font-family: Montserrat;
  font-weight: 200;
  padding-right: 3em;
  color: white;
}

/*Mobile M*/

@media screen and (min-width: 375px) and (max-width: 424px) {
  .interior__avatar {
    width: 2.7em;
  }

  .interior__card__text {
    font-family: CrimsonPro;
    font-size: 1.7em;
    line-height: 3.8vh !important;
  }
  .interior__footer {
    font-size: 0.9em;
  }

  .interior__name {
    font-size: 0.9em;
  }

  .interior__position {
    font-size: 0.8em;
  }
}

/*Mobile L*/

@media screen and (min-width: 425px) and (max-width: 767px) {
  .interior__avatar {
    width: 2.7em;
  }

  .interior__card {
    width: 80%;
    padding: 1em em 0.4em 1.3em;
    margin-left: 14%;
  }

  .interior__card__text {
    font-family: CrimsonPro;
    font-size: 1.7em;
    line-height: 3.8vh !important;
  }
  .interior__footer {
    font-size: 0.9em;
  }

  .interior__name {
    font-size: 0.9em;
  }

  .interior__position {
    font-size: 0.8em;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .interior__avatar {
    width: 3.5em;
  }

  .interior__card {
    padding: 1em 4em 0.4em 1.3em;
    margin-left: 50%;
    margin-top: -20%;
    width: 45%;
  }

  .interior__card__text {
    font-family: CrimsonPro;
    font-size: 1.7em;
    line-height: 3.8vh !important;
  }
  .interior__footer {
    font-size: 1em;
  }

  .interior__name {
    font-size: 1em;
  }

  .interior__position {
    font-size: 0.9em;
  }

  .interior__read-more {
    font-size: 1.4em;
  }

  .title_ic {
    font-size: 3em;
  }

  .interior__text {
    font-size: 1.4em;
  }
}

/*Laptop*/

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .container__ic {
    width: 93% !important;
  }

  .interior__img {
    padding-top: 4vh;
    width: 35em;
    right: 0;
    position: relative;
  }

  .interior__card {
    padding: 1em 6em 0.4em 1.3em;
    margin-left: 40%;
    margin-top: -10%;
    width: 50%;
  }

  .interior__card__text {
    font-family: CrimsonPro;
    font-size: 1.2em;
    line-height: 2vh !important;
  }

  hr {
    display: none;
  }

  .interior__footer {
    position: relative;
    padding-bottom: 1em;
  }
}

/*Laptop L*/

@media screen and (min-width: 1440px) {
  .container__ic {
    width: 93% !important;
  }

  .interior__img {
    padding-top: 4vh;
    width: 50em;
    right: 0;
    position: relative;
  }

  .interior__card {
    padding: 1em 6em 0.4em 1.3em;
    margin-left: 60%;
    margin-top: -20%;
    width: 40%;
  }

  .interior__card__text {
    font-family: CrimsonPro;
    font-size: 1.5em;
    line-height: 3.5vh !important;
  }

  .interior__name {
    font-size: 1em;
  }
  .interior__position {
    font-size: 1em;
  }
  .interior__text {
    font-size: 1.2em;
  }
  .interior__read-more {
    font-size: 1.2em;
  }

  hr {
    display: none;
  }

  .interior__footer {
    position: relative;
    padding: 2em 0;
    font-size: 1em;
  }
}
