@import url(https://fonts.googleapis.com/css?family=CrimsonPro:100,200,300,400,500,600,700,800,900);

.brand-logo__ic {
  font-family: Crimson Pro;
  border: 1px solid #ffff;
  font-size: 0.8em !important;
  position: relative !important;
  left: 2em !important;
  display: unset !important;
  padding: 2% !important;
}

.cross {
  position: relative;
  top: -6em;
  left: 69%;
}

.cross i {
  color: white !important;
  font-size: 2em;
}

.nav__ic {
  background-color: #181719 !important;
  box-shadow: none !important;
  font-family: Montserrat;
}

.nav__ic .sidenav-trigger  {
  float: right;
  margin-right: 5%;
}

.nav__ic .sidenav-trigger i {
  font-size: 2.4em;
}

.sidenav {
  width: 100%;
  text-align: center;
  padding-top: 50%;
  background-color: #181719;
}

.sidenav li a {
  font-family: Montserrat;
  color: white;
  font-size: 1.5em;
}

/*Mobile M*/

@media screen and (min-width: 375px) and (max-width: 424px) {


}

/*Mobile L*/

@media screen and (min-width: 425px) and (max-width: 767px) {
  .brand-logo__ic {
    font-size: 1em !important;
    padding: 2% !important;
  }
  .nav__ic {
    padding-top: 1%;
  }
  .nav__ic .sidenav-trigger i {
    right: -10em !important;
    font-size: 2.7em;
  }

  .sidenav li a {
    font-family: Montserrat;
    color: white;
    font-size: 1.8em;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .brand-logo__ic {
    font-size: 1.2em !important;
    left: 4em !important;
    padding: 2% !important;
  }
  .nav__ic {
  padding-top: 3%;
  }
  .nav__ic .sidenav-trigger i {
    right: -17em !important;
    font-size: 2.7em;
  }
  .cross {
    top: -30vh;
    left: 17em;
  }
  .sidenav li a {
    font-family: Montserrat;
    color: white;
    font-size: 2.5em;
    line-height: 3vh;
  }
}

/*Laptop*/

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .brand-logo__ic {
    font-size: 1em !important;
    left: 3em !important;
    padding: 1% !important;
  }
  .nav__ic {
    padding-top: 1%;
  }

  .nav__ic ul {
    right: 1em;
    position: relative;
  }

  .nav__ic ul li{
    padding-right: 3em;
  }

}

/*Laptop L*/

@media screen and (min-width: 1440px) {
  .brand-logo__ic {
    font-size: 1em !important;
    left: 3em !important;
    padding: 1% !important;
  }
  .nav__ic {
    padding-top: 1%;
  }

  .nav__ic ul {
    right: 1em;
    position: relative;
  }

  .nav__ic ul li{
    padding-right: 3em;
  }
}
